<div class ="background">	
	<div class="background_img">	
		<h1 class="title">CHOMP</h1>
			<!-- <button type="button" class="btn btn-danger btn-primary btn-lg">Add a Picture</button> -->

			<%= link_to('Add a Picture', new_photo_path, :class => 'btn btn-danger btn-primary btn-lg')  %>
		
	</div>	
		<div class="inner-block">	
			<% if current_user != nil %>
			    <% @users.each do |u| %>
			        <div class="user_box"><h1 class="emails"><%= u.email %></h1> 
				            <% u.photos.each do |p| %> 
				                <%= image_tag p.image.url(:large), :class => "img" %><br /><br />
				            <% end %>
				            <%= link_to "restaurant search", places_path %>   
			        </div>
			    <% end %>
			<% end %>
		</div>	
</div>		