// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.outer-div
{
  padding: 30px;
  // background-color: #f3f3f3;
}
.inner-div
{
  margin: 0 auto;
  width: 400px;
  height: 100%;
  // background-color: #ccc;
}

.background {
  // background-color: rgb(246,210,180);
  background: linear-gradient(rgb(255,226,206), rgb(246,151,99), (#f96e5b));
     // rgb(231,116,66));
  padding: 0px;
}