// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background_img {
	background-image: url("toomanycooks.jpg");
	background-size: 100% 480px;
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
	margin-top: auto;
	// border-bottom: 5px solid white
}

.img {
	background-size:720px 480px;
	background-position:-160px 0px;
	height:480px;
	width:480px;
	border-radius:50%;
	border: 5px solid white;
	overflow:hidden;
	margin:auto;
}

.user_box {
	text-align: center;
}

.background {
	background-color: rgb(246,210,180);
	padding: 0px;
}

.emails {
	padding: 0px;
	margin: 0px;
}

.inner-block {
	height: 100%;
	width: 700px;
	background-color: white;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
}