<!-- put an input ng-model.... maybe need to research what to use instead of ng-model in here for user input for search  (look at angular docs for directives:ngmodel). pass the user input into a $scope variable (so i can access it in my scope so i can chain it on to the name param in my app.js(line 44) so the name is dynamic and not hardcoded as mcdonalds-->

<h6>name: {{name}}</h6>
<h6>phone: {{display_phone}}</h6>
<h6>address: {{display_address}}</h6>